.footer {

    &__download {
        background: linear-gradient(276.18deg, #6E28B1 0%, rgba(0, 0, 0, 0) 100%), #FC0A7E;
        height: 474px;

        &-title {
            font-family: var(--GR);
            font-size: 38px;
            font-weight: 400;
            line-height: 48px;
            text-align: center;
            color: white;
            padding-top: 165px;
        }

        &-btn {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;

            &-btn {
                padding: 20px 40px;
                border: 1px solid #FFFFFF33;
                border-radius: 3px;
                color: white;
                background: none;
                margin-top: 40px;
                width: 190px;
                height: 66px;
                transition: 0.3s;

                &:hover {
                    background: #FC0A7E;
                }
            }
        }
    }

    &__subscribe {
        background: #1B1B1B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            font-family: var(--GR);
            font-size: 38px;
            font-weight: 400;
            line-height: 48px;
            color: white;
            margin-top: 129px;
        }

        &-desc {
            font-family: var(--GR);
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: #6B6B6B;
            margin-top: 20px;
        }

        &-form {
            margin: 40px 0 126px 0;
            display: flex;
            justify-content: center;

            &-input {
                font-family: var(--GR);
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: #1C1C1C;
                padding: 22px 155px 22px 3px;
            }

            &-btn {
                font-family: var(--GR);
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: #1C1C1C;
                background: #FC0A7E;
                padding: 22px;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background: #b4095c;
                }
            }
        }
    }

    &__end {
        background: #1B1B1B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-SMlihks {

            &-list {
                display: flex;
                gap: 30px;
                margin: 29px 0 69px 0;

                &-item-link {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #6B6B6B;

                    &:hover {
                        color: #b4095c;
                    }
                }
            }
        }
    }
}